
.producttablecont{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.producttablecont .tablecontrolscont {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 9.5%;
}


.producttablecont .createbutton{
    padding: .5rem;
    color: white;
    background-color: rgb(30, 210, 255);
    font-size: 1.rem;
    text-align: center;
    width: auto;
    
    font-weight: 600;
    
    text-decoration: none;
}

.producttablecont input[type = "file"] {
    margin-top: 20%;
}