.goBackbuttom{
    padding: .6rem;
    color: white;
    background-color: rgb(30, 210, 255);
    font-size: 1.1rem;
    margin-top: 100px;
    width: auto;
    
    font-weight: 600;
    margin-right: 80%;
    text-decoration: none;
}