.goBackbuttom{
    padding: .5rem;
    color: white;
    background-color: goldenrod;
    font-size: 1.rem;
    margin-top: 12%;
    width: auto;
    border-radius: 10%;
    font-weight: 600;
    margin-right: 600px;
    text-decoration: none;
}