.nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .link {
    background-color: white;
    padding: 4px 16px;
    font-size: 1.1rem;
    color: #1f2937;
    border: 1px inset #d1d5db;
    text-decoration: none;
    margin: 0 2px;
  }
  
  .link:focus {
    z-index: 20;
    outline-offset: 0;
  }
  
  .active {
    background-color: rgb(30, 210, 255); 
    color: white;
    border: none;/* Amber 400 */
  }