.container {
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 2%;
    width: 80%;
  }
  
  .flowRoot {
    margin-top: 8px;
  }
  
  .tableWrapper {
    overflow-x: auto;
    background-color: white;
    
  }
  
  .tableContainer {
    display: inline-block;
    min-width: 100%;
    padding: 16px;
    
  }
  
  table {
    min-width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
  }
  
  th {
    font-weight: bold;
    color: #1a202c; /* text-gray-900 */
  }
  
  td {
    color: #4a5568; /* text-gray-500 */
  }
  
  .actions {
    text-align: right;
  }
  
  .link {
    color: #4c51bf; /* text-indigo-600 */
    text-decoration: none;
  }
  
  .link:hover {
    color: #434190; /* text-indigo-800 */
  }

  .quantityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
    
  }
  
  .quantityButton {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .decrementButton {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 0.5rem;
  }
  
  .incrementButton {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 0.5rem;
  }
  
  .quantityInput {
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    outline: none;
  }