.navbar{
    position:fixed;
    background-color: rgb(0, 108, 190);
    width: 100%;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s ease;
}


.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navbar li{
    list-style: none;

}

.navbar li::after, .navbar a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.3s;

}
.navbar a, .admin{
    text-decoration: none;
    color: white;
    font-size: large;
    
}

.navbar a:hover::after, .admin:hover::after{  
    width: 100%;
}

.admin {   
    margin-right: 40px;
    cursor: pointer;
}