.categoryform {
    padding: 1.8rem;
    margin-top: 1%;
    background-color: white;
    box-shadow: 10px 10px 0 -5px rgba(0, 0, 0, 0.199);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    max-width: 400px;
}